<% layout('layout') -%>

<script src="javascripts/servercontrol.js"></script>

<div id="controlPanel" class="panel panel-default" style="display:none">
	<div class="panel-heading">
		<div class="panel-title">SERVER CONTROL</div>
	</div>
	<div class="panel-body">

		<form id="settingsForm" class="form-horizontal">
			<div class="form-group">


				<label for="touchIntervalInput" class="col-xs-3 control-label">Touch Interval (ms)</label>
				<div class="col-xs-9" style="padding-bottom: 5px;">
					<div class="input-group">
						<input id="touchIntervalInput" type="number" class="form-control" placeholder="Touch Interval (ms)">
						<span class="input-group-btn">
								<button id="touchIntervalButton" class="btn btn-default" type="button">SET</button>
						</span>
					</div>
				</div>

				<label for="oscAddressInput" class="col-xs-3 control-label">OSC Address</label>
				<div class="col-xs-9">
					<div class="input-group">
						<input id="oscAddressInput" type="text" class="form-control" placeholder="OSC Address">
						<span class="input-group-btn">
							<button id="oscAddressButton" class="btn btn-default" type="button">SET</button>
						</span>
					</div><!-- /input-group -->
				</div>
				<br/>

				<label for="heartbeatToggle" class="col-xs-3 control-label">OSC Heartbeat</label>
				<div class="col-xs-9">
					<input id="heartbeatToggle" type="checkbox" style="vertical-align: -webkit-baseline-middle">
				</div>
				<br/>

			</div>
		</form>
		<br/>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">REMOTES</div>
			</div>
			<div class="panel-body">
				<% for ( var i=0; i<remotes.length; i++ ) { %>
					<div class="remoteBox" id="remoteBox<%=i+1%>">
						<div class="row">
							<div class="col-xs-3">
								<span class="remoteNumber"><%=i+1%>:</span> <span id="remoteStatus<%=i+1%>" class="label label-<%=remotes[i]==undefined?'danger':'success'%>"><%= remotes[i]==undefined?'DISCONNECTED':'CONNECTED' %></span>
							</div>
						</div>
						<div class="row">
							<!-- <div class="btn-group col-xs-12 btn-group-justified" data-toggle="buttons"> -->
							<div class="btn-group col-xs-12 btn-group-justified">
								<div class="btn btn-default active3DButton" remote="<%= i+1 %>">
									Active 3D Remote
								</div>
								<div class="btn btn-default active2DButton" remote="<%= i+1 %>">
									Active 2D Remote
								</div>
								<div class="btn btn-default showSettingsButton" remote="<%=i+1%>">
									Show Settings
								</div>
							</div>
						</div>

					<% if ( remotes[i] == undefined ) { %>
						<!-- <div> <%= i %> is undefined</div> -->
					<% } else { %>
						<!-- <div> <%= i %> is defined</div> -->
					<% } %>
					</div>
				<% } %>
			</div>
		</div>

	</div>
</div>